
.index-background-container {
  background-image: url('../media/bg-slideshow31.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-brand
{
    position: relative;
    background: url(../images/logo.png);
    width: 170px;
    left: 15px;
    max-height: 70px; /* height of the navbar */
}