{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAR Publication - About Us</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<style type="text/css">
		.grid-container {
			display: grid;
			grid-template-columns: repeat(3, 30%);
			grid-gap: 10px;
		}
		.grid-container > div {
			border:1px solid #ccc;
			border-radius: 5px;
		}
		@media only screen and (max-width: 600px) {
			.grid-container {
				display: grid;
				grid-template-columns: auto;
				grip-gap:10px;
			}
		}
	</style>
</head>

<body>
	<div class="has-padding-bottom-100" >
		{% include 'index/header.html' %}
		<div style='background-color: #353b48;padding-top: 50px'>
			<div class='container'>
				<p class='has-text-light is-size-2' style='border-bottom:5px solid #e67e22'>About Us</p>
			</div>
		</div>
		<!--Main Content-->
		<div class='container  has-margin-top-50'>
			<div class='columns'>
				<div class='column is-9'>
					<section class="has-padding-40 is-block has-background-white">
						<div class="container" >
							<div class="container is-size-5">
								<p>South Asian Research Publication (SAR Publication) is a publisher for scientific online and print journals started with collaboration with other scientific organizations, institutions, academicians and researchers. SAR Publication is keen to make itself as a leading publisher for scientific and academic journals with quality peer review and rapid publication. It is self-supporting publisher and does not depend on funding from any organization. Hence, to cover publication expenses, maintenance and operation expenses, a minimal processing fee is collected from authors and is required to make payment only after their manuscript have been accepted for publication.
								</p>
							</div>
							<p class="has-text-left has-margin-top-70 is-size-6">
								<span class="is-size-5" style='color:#34495e'><strong>Advantages</strong>&nbsp;<i class='fa fa-tags'></i></span><br>
								• SAR Publication is dedicated for providing services <br>
								• Fast Acknowledgment of submitted manuscript <br>
								• Rapid peer-review process within 7 to 10 days <br>
								• Experienced and subject wise editorial board <br>
								• No article submission fees <br>
								• Low article processing charges <br>
								• Publication in 15 days <br>
								• Open access publication policy <br>
								• Authors retain copyright <br>
								• No extra page charges <br>
							</p>
						</div>
					</section>
				</div>
				<div class='column'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</div>
	</div>
</div>

<!--FOOTER-->
{% include 'index/footer.html' %}
</body>
</html>