{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAR Publication - Author Guidelines</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<style>
		.grid-container {
			display: grid;
			grid-template-columns: repeat(3, 30%);
			grid-gap: 10px;
		}
		.grid-container > div {
			box-shadow: 2px 2px 4px #333;
			border-radius: 5px;
		}
		@media only screen and (max-width: 600px) {
			.grid-container {
				display: grid;
				grid-template-columns: auto;
				grip-gap:10px;
			}
		}

	</style>
</head>
<body>
	<div class="has-padding-bottom-100" >
		<!--HEADER-->
		{% include 'index/header.html' %}
		<div style='background-color: #353b48;padding-top: 50px'>
			<div class='container'>
				<p class='has-text-light is-size-2' style='border-bottom:5px solid #e67e22'>Instructions to Authors</p>
			</div>
		</div>
		<div class='container has-margin-top-50'>
			<div class='columns'>
				<div class='column is-9'>
					<section class="container has-padding-40 is-block has-background-white ">
						<div class="container" >
							<p>
								<strong>Page format:</strong><br>

								The manuscripts should be prepared as Microsoft-word documents in Times New Roman (font size 10) on A4 size leaving the margins of 1 inch on all four sides in single column. The line spacing should be single-spaced including references and tables.<br><br>



								<strong>Manuscript</strong><br>

								The manuscript should be in single word file which contains the title page and full manuscript.  The title page contains title of the manuscript, all author names, affiliations and their corresponding authors Name complete mailing address, telephone and E-mail. The designated corresponding author must be identified by an asterisk.<br><br>



								The full length Research Articles should be arranged using the following headings; Title, Authors Names, Affiliations, Corresponding Authors Name and email ID, Abstract, Keywords, Introduction, Experimental section/Material and Methods, Results and Discussion, Conclusion, Acknowledgement (optional) and References.<br><br>



								The Review Article, Short Communications, Case Reports, Essay, follow the standard method as requirement. But they must contain Abstract and Keywords.<br><br>



								<strong>Table and Figures</strong><br>

								Tables and Figures should be with their Title and Legend in their respective position in manuscript.<br><br>



								<strong>Abstract: </strong><br>

								It should not exceed 300 words in a single paragraph and if require can give sub-headings like-, Background, Objective, Methods, Results and conclusion. It should be a brief summary of the work carried out including the objectives of the study, the techniques used and what was accomplished in a concise manner.<br><br>



								<strong>Keywords: </strong><br>

								It should contain up to 4-5 key terms related to the work separated by commas.<br><br>



								<strong>Introduction: </strong><br>

								It should represent the background significance, brief survey of the previous works,  Review of Literature, Aim and Objectives, purpose, scope and novelty of the research work and if require can give subheadings.<br><br>



								<strong>Material and Methods: </strong><br>

								Information in detail regarding the materials and the methods used to carry out the research works (Hypothesis, analytical, statistical and experimental procedures) should be mentioned to enable the others to repeat the authors work.<br><br>



								<strong>Results and Discussion: </strong><br>

								It should contain summary of the work, results, interpretations, speculations and assessment of future research or prospects.<br><br>



								<strong>Conclusion: </strong><br>

								It should include outcome of the work, important findings and your view(s).<br><br>



								<strong>Acknowledgements (if any): </strong><br>

								It should have the brief information regarding any research grant support or the assistance of colleagues or institutions.<br><br>



								<strong>References: </strong><br>

								They should be arranged at the end of the manuscript in order of their appearance the text. The references should be presented in square bracket in e.g., [1] in the text. They should be arranged at the end of the manuscript in order of their appearance the text.  References should follow the APA Citation Style.<br><br>



								<strong>Examples</strong><br>

								<strong>Journal Article</strong><br>

								Author, A., & Author, B. (year). Title of article. Journal Title, Volume, page range.<br><br>

								Example: Ahmad, M. M., Rahman, M., Rumi, A. K., Islam, S., Hug, F., Chowdhury, M. F., … & Khan, A. (1997). Prevalence of Helicobacter pylori in asymptomatic population a pilot serological study in Bangladesh. Journal of epidemiology, 7(4), 251-254.<br><br>



								<strong>Whole book</strong><br>

								Author, A., & Author, B. (year). Title of book. DOI/URL/Publisher location: Publisher Name.<br><br>



								<strong>Example: </strong><br>

								Brown, B. (2010). The gifts of imperfection: Let go of who you think you’re supposed to be and embrace who you are. Center City, MN: Hazelden.<br><br>



								<strong>Edited book chapter</strong><br>

								Author, A., & Author, B. (year). Title of chapter. In E. Editor & A. Editor (Eds.), Title of book (pp. xx-xx). DOI/URL/Publisher location: Publisher Name.<br><br>
	
								<strong>Example: </strong><br>

								Singh, A. A., Hwahng, S. J., Chang, S. C., White, B. (2017). Affirmative counseling with trans/gender-variant people of color. In A. Singh & L. M. Dickey (Eds.), Affirmative counseling and psychological practice with transgender and gender nonconforming clients (pp. 41–68).<br><br>



								<strong>Website: </strong><br>

								Author. (year). Title of page. Retrieved Date, from http://xxxxxxx
								<br><br>
								<strong>Example: </strong><br>

								American Psychological Association. (n.d.). Divisions. Retrieved October 28, 2018,<br>
								from http://www.apa.org/about/division/
							</p>
						</div>
					</section>
				</div>
				<div class='column'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'index/footer.html' %}
</nav>
</body>
</html>