{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>GAJRC | Author Guidelines</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<style>
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		grid-gap: 10px;
	}
	.grid-container > div {
		box-shadow: 2px 2px 4px #333;
		border-radius: 5px;
	}
	@media only screen and (max-width: 600px) {
		.grid-container {
			display: grid;
			grid-template-columns: auto;
			grip-gap:10px;
		}
	}

</style>
</head>
<body>
	<div class="index-background-container" >
		<div class="header">
			<section class="is-fullhd">
				<nav class="navbar has-padding-left-20 has-padding-right-20" role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<a class="navbar-item" href="{% url 'index' %}">
							<figure class="image" style="height:75;width:100px">
								<img src="{% static 'media/mainLogo.png' %}">
							</figure>
						</a>

						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>

					<div id="navbarBasicExample" class="navbar-menu">
						<div class="navbar-start">

						</div>

						<div class="navbar-end">
							<a class="navbar-item" href="{% url 'index' %}">
								<i class="fa fa-home fa-lg"></i>
							</a>

							<a class="navbar-item" href="{% url 'about_us' %}">
								About Us
							</a>
							<a class="navbar-item" href="{% url 'journals' %}">
								Journals
							</a>

							<!--<div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link">
									Guidelines
								</a>

								<div class="navbar-dropdown">
									<a class="navbar-item">
										Editor Guidelines
									</a>
									<a class="navbar-item">
										Reviewer Guidelines
									</a>
									<a class="navbar-item">
										Manuscript Guidelines
									</a>
								</div>
							</div>-->
							<div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link">
									For Authors
								</a>

								<div class="navbar-dropdown">
									<a class="navbar-item is-active" href="{% url 'author_guidelines' %}">
										Guidelines
									</a>
									<a class="navbar-item" href="{% url 'processing_fees' %}">
										Processing Fee
									</a>
								</div>
							</div>
							<div class="navbar-item">
								<div class="buttons">
									<a class="button is-primary" href="{% url 'submitManuscript' %}">
										<strong>Submit Manuscript</strong>
									</a>
								</div>
							</div>	
						</div>
					</nav>
				</section>
				<section class="hero has-padding-20 has-margin-top-10">
					<div class="hero-body">
						<div class="container has-text-centered">
							<h1 class="title is-size-1 is-size-2-mobile  has-text-primary">
								Author Guidelines
							</h1>
						</div>
					</div>
				</section>
			</div>
			<section class="container has-padding-40 is-block has-background-white" style="box-shadow: 2px 2px 10px #333;border-radius: 5px">
				<div class="container" >
					<p class="is-size-3 is-size-4-mobile">Author Guidelines</p><br>

					<p>

						<span>
							<strong>Language</strong>: Papers are accepted in English or as per the nature of the Journal submission
						</span><br><br>

						<span>
							<strong>Page format</strong>: The manuscripts should be prepared as Microsoft-word documents in Times New Roman (font size 12) on A4 size leaving the margins of 1 inch on all four sides in single column. The line spacing should be single-spaced including references and tables. Tables and Figures should be in their respective position in manuscript with title of Table/Legends of Figure. Articles should be within 30 printable pages. Extra pages will be charged.

							The manuscript should be in single word file, which contains the title page following full manuscript. The title page contains title of the manuscript, all author names and their corresponding affiliations as well as complete mailing address, telephone and E-mail. The designated corresponding author must be identified by an asterisk.

							The full length Research Articles should be arranged using the following headings; Abstract, Keywords, Introduction, Experimental section, Results and Discussion, Conclusion, Acknowledgement (optional) and References.

							The Review, Short Communications, Essay, Book reviews should follow the standard method as requirement.
						</span><br><br>
						<span>
							<strong>Abstract</strong>:  It should not exceed 250 words in a single paragraph and not required sub-headings and should be a brief summary of the work carried out including the objectives of the study, the techniques used and what was accomplished in a concise manner.
						</span><br><br>

						<span>
							<strong>Keywords</strong>: It should contain up to 6-10 key terms related to the work separated by commas.
						</span><br><br>

						<span>
							<strong>Introduction</strong>: It should represent the background significance, brief survey of the previous works, purpose, scope and novelty of the research work and should not have subheadings.

							Experimental Section/Material and Methods: Sufficient information in detail regarding the materials and the methods used to carry out the research works (analytical, statistical and experimental procedures) should be mentioned to enable the others to repeat the authors work. Source of chemicals and drugs, animals used, ethical committee permission should be mentioned.
						</span><br><br>
						<span>
							<strong>Results and Discussion</strong>: It should contain summary of the research, results, interpretations, speculations and assessment of future research or prospects.
						</span><br><br>
						<span>
							<strong>Conclusion</strong>: It should include outcome of the work, important findings and your view(s).
						</span><br><br>

						<span>
							<strong>Acknowledgements (if any)</strong>: It should have the brief information regarding any research grant support or the assistance of colleagues or institutions.
						</span><br><br>
						<span>
							<strong>References</strong>: They should be arranged at the end of the manuscript in order of their appearance the text. The references should be presented in  bracket as et al. in e.g., Single Author (Raju M, 2018), Multiple ( Raju M et al, 2018) in the text. They should be arranged at the end of the manuscript in order of their appearance the text.  References should follow the APA Citation Style.
						</span><br><br><br><br>



						<span>
							<strong class="is-size-5">For Examples</strong>
						</span><br><br>


						<span><strong><u>Articles in journals, magazines, and newspapers</u></strong>
						</span><br>

						<span>References to periodical articles must include the following elements: author(s), date of publication, article title, journal title, volume number, issue number (if applicable), and page numbers.
						</span><br><br>


						<span><strong class="has-text-grey">Journal article (one author)</strong></span><br>

						<span>Ku, G. (2008). Learning to de-escalate: The effects of regret in escalation of commitment. Organizational Behavior and Human Decision Processes, 105(2), 221-232.
						</span><br><br>


						<span><strong class="has-text-grey">Journal article, more authors,</strong></span><br>

						<span>Smale, M. J. (1985). Aspects of the biology of Argyrosomus hololepidotus and Atractoscion aequidens (Osteichthyes: Sciaenidae) in waters of the south-eastern Cape, South Africa. South African Journal of Marine Science, 3(1), 63-75.
						</span><br><br>


						<span><strong class="has-text-grey">Article from an Internet-only journal</strong></span><br>

						<span>Hirtle, P. B. (2008, July-August). Copyright renewal, copyright restoration, and the difficulty of determining copyright status. D-Lib Magazine, 14(7/8).
						</span><br><br>


						<span><strong class="has-text-grey">Magazine article, in print</strong></span><br>

						<span>Kluger, J. (2008, January 28). Why we love. Time, 171(4), 54-60.
						</span><br><br>

						<span><strong class="has-text-grey">Newspaper article, no author, in print</strong></span><br>

						<span>As prices surge, Thailand pitches OPEC-style rice cartel. (2008, May 5). The Wall Street Journal, p. A9.</span><br><br>

						<span>
							<strong class="is-size-5">Books</strong>
						</span><br><br>

						<span>References to an entire book must include the following elements: author(s) or editor(s), date of publication, title, place of publication, and the name of the publisher.
						</span><br><br>

						<span><strong class="has-text-grey">No Author or editor, in print</strong></span><br>
						<span>Merriam-Webster’s collegiate dictionary (11th ed.). (2003). Springfield, MA: Merriam- Webster.
						</span><br><br>

						<span><strong class="has-text-grey">One author, in print</strong></span><br>
						<span>Kidder, T. (1981). The soul of a new machine. Boston, MA: Little, Brown &amp; Company.
						</span><br><br>

						<span><strong class="has-text-grey">Two authors, in print</strong></span><br>
						<span>Frank, R. H., &amp; Bernanke, B. (2007). Principles of macro-economics (3rd ed.). Boston, MA: McGraw-Hill/Irwin.
						</span><br><br>

						<span><strong class="has-text-grey">Edited book</strong></span><br>
						<span>Gibbs, J. T., &amp; Huang, L. N. (Eds.). (2001). Children of color: Psychological interventions with culturally diverse youth. San Francisco, CA: Jossey-Bass.
						</span><br><br>

						<span><strong class="has-text-grey">Dissertations</strong></span><br>
						<span>Young, R. F. (2007). Crossing boundaries in urban ecology: Pathways to sustainable cities (Doctoral dissertation). Available from ProQuest Dissertations &amp; Theses database. (UMI No. 327681)
						</span><br><br>

						<span><strong class="has-text-grey">Essays or chapters in edited books</strong></span><br>
						<span>Hammond, K. R., &amp; Adelman, L. (1986). Science, values, and human judgment. In H. R. Arkes & K. R. Hammond (Eds.), Judgement and decision making: An interdisciplinary reader (pp. 127-143). Cambridge, England: Cambridge University Press.
						</span><br><br>

						<span><strong class="has-text-grey">Encyclopedias or dictionaries and entries in an encyclopedia</strong></span><br>
						<span>Sadie, S., &amp; Tyrrell, J. (Eds.). (2002). The new Grove dictionary of music and musicians (2nd ed., Vols. 1-29). New York, NY: Grove.
						</span><br><br>

						<span><strong class="has-text-grey">Article from an online encyclopedia</strong></span><br>
						<span>Containerization. (2008). In Encyclopædia Britannica. Retrieved May 6, 2008, from http://search.eb.com</span><br><br>

						<span><strong class="has-text-grey">Publication Ethics</strong></span><br>
						<span>When an author submits a manuscript for publication consideration, he or she agrees to abide by publication requirements of East African Scholars Publisher.
							<div class="content">
								<ul>
									<li>Agree that his or her manuscript presents work that is original, not plagiarized; that he or she has not submitted the manuscript under review for publication elsewhere; and that he or she will not submit the manuscript under review to another publication during the review period.
									</li>
									<li>Take full responsibility for the work he or she submits to and publishes with the East African Scholars Publisher.
									</li>
								</ul>
							</div>
						</span><br><br>
						<span><strong class="has-text-grey">Manuscript Submission</strong></span><br><br>



						<span>Authors should submit their manuscript by email to <strong>easpublisher@gmail.com</strong></span>
					</p>
				</div>

			</section>
			<section class="section is-size-6-mobile has-background-dark has-text-light has-margin-top-100">

				<div class="has-text-centered"><p class="is-size-5">Article formats</p></div>
				<div class="columns is-variable has-margin-top-10">
					<div class="column is-6">
						<div class="box has-background-dark">
							<article class="media">
								<div class="media-left">
									<i class="fa fa-file-pdf-o fa-5x"></i>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											PDF (Portable Document Format) is a file format that has captured all the elements of a printed document as an electronic image that you can view, navigate <a href="#" class="has-text-white">read more...</a>
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="column is-6">
						<div class="box has-background-dark">
							<article class="media">
								<div class="media-left">
									<i class="fa fa-file-text fa-5x"></i>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											A full-text database is a compilation of documents or other information in the form of a database in which the complete text of each referenced document is <a href="#" class="has-text-white">read more...</a>
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
				<div class="columns has-text-centered has-margin-top-20">
					<div class="column " style="background-color: #3b5998;">
						<a href="https://www.facebook.com/angela.roy.77312" target="_blank" class="fb"><i class="fa fa-facebook has-text-white"></i></a>
					</div>
					<div class="column" style="background-color: #00ACEE;">
						<a href="https://twitter.com/lupine_online" class="tw" target="_blank"><i class="fa fa-twitter has-text-white"></i></a>
					</div>
					<div class="column" style="background-color: #0077b5;">
						<a href="#" class="in" ><i class="fa fa-linkedin has-text-white"></i></a>
					</div>
					<div class="column" style="background-color: #db4a39;">
						<a href="https://plus.google.com/u/0/+LupinePublishers" class="gp" target="_blank"><i class="fa fa-google-plus has-text-white"></i></a>
					</div>
					<div class="column"  style="background-color:#34526f">
						<a href="https://lupinepublishers.tumblr.com/" class="be" target="_blank"><i class="fa fa-tumblr has-text-white"></i></a>
					</div>
				</div>
				<div class="columns is-variable has-margin-top-20">
					<div class="column">
						<p class="is-size-5">Contact us</p><br>
						<p class="is-size-7">
							CompanyName Publishers<br>
							57West 57th street, 3rd floor,<br>
							New York, NY 10019, USA<br>
							+1 914 407 6109<br>
							info@lupinepublishers.com
						</p>
					</div>
					<div class="column">
						<p class="is-size-5">Useful Links</p><br>
						<p class="is-size-7">
							Home<br>
							Aim and Scope<br>
							Author Guidelines<br>
							Subject Area<br>
							Contact Us<br>
						</p>
					</div>
					<div class="column">
						<p class="is-size-5">About Us</p><br>
						<p class="is-size-7">
							The Lupine Publishers is an open access medical and clinical research publication that gives acclaimed scientific authors and research experts a global platform to share their work among like-minded peers and help accumulate scientific knowledge in a singular repository. <a href="#"> Read More</a>
						</p>
					</div>
					<div class="column">
						<a id="comment-button"><p class="is-size-5 has-text-white">Leave a comment <i class="fa fa-chevron-down fa-xs"> </i></p></a>
						<div id="comment-container" style="display: none">
							<div class="field">
								<div class="control ">
									<input class="input is-small has-margin-5" type="text" placeholder="Enter Name">
									<input class="input is-small has-margin-5" type="email" placeholder="Enter Email">
									<textarea class="textarea is-small has-margin-5" type="textarea" placeholder="Comment Here.."></textarea>					
									<button class="button is-outlined is-primary has-margin-5" >Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container has-text-centered">
					<p> &copy; CompanyName 2019, All Rights Reserved</p>
				</div>
			</section>
		</div>
	</body>
	</html>