{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAR Publication - Contact Us</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulma-divider.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
</head>
<body>
	<div class="has-padding-bottom-100" >
		{% include 'index/header.html' %}
		<div style='background-color: #353b48;padding-top: 50px'>
			<div class='container'>
				<p class='has-text-light is-size-2' style='border-bottom:5px solid #e67e22'>Contact Us</p>
			</div>
		</div>

		<div class='container has-margin-top-50'>
			<div class='columns'>
				<div class='column is-9'>
					<div class="has-padding-40 is-block has-background-white">
						<div class="container" >
							<p>
								Feel free to talk to us at any time by our below instant messaging program.<br><br>
								Please be patient while waiting for response.
							</p>
							<form class='has-margin-top-30'>
								<div class='columns'>
									<div class='column'>
										<div class="field">
											<label class="label">Name *</label>
											<div class="control">
												<input class="input" type="text">
											</div>
										</div>
									</div>
									<div class='column'>
										<div class="field">
											<label class="label">Phone *</label>
											<div class="control">
												<input class="input" type="text">
											</div>
										</div>
									</div>
								</div>
								<div class="field">
									<label class="label">E-mail *</label>
									<div class="control">
										<input class="input" type="text">
									</div>
								</div>

								<div class="field">
									<label class="label">Message *</label>
									<div class="control">
										<textarea class="textarea" ></textarea>
									</div>
								</div>
								<button class='button is-outlined is-info'>Submit &nbsp; <i class='fa fa-paper-plane'></i></button> 

							</form>
						</div>	
					</div>
					<p class='has-text-dark is-size-4 has-text-centered has-margin-top-20 has-margin-bottom-20' >OR</p>
					<div class="has-padding-40 is-block has-background-white">
						<p class='is-size-3 has-text-centered has-text-dark'>Come Visit Us</p>
						<br><br><br>
						<p class='is-size-4'><i class='fa fa-home fa-2x' style='color:#27ae60'></i><br>
							Sunapur, P.O-Sunapur, Balaganj Upjela, <br>
							Dist-Syhlet, Bangladesh, <br>
							Postal Code-3124
						</p>
						<br>
						<p class='is-size-4'><i class='fa fa-phone' style='color:#27ae60'></i>&nbsp;&nbsp; +8801713-815472 
						</p>
						<p class='is-size-4'><i class='fa fa-envelope' style='color:#27ae60'></i>&nbsp;&nbsp; sarpublication@gmail.com 
						</p>
						<p class='is-size-4'><i class='fa fa-globe' style='color:#27ae60'></i>&nbsp;&nbsp;&nbsp;<a href='http://www.sarpublication.com' class='has-text-dark'>www.sarpublication.com</a> 
						</p>
					</div>
				</div>
				<div class='column'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</div>
	</div>
	{% include 'index/footer.html' %}
</body>
</html>