{% load static %}
<section class="section is-size-6-mobile has-background-dark has-text-light">
	<div class="columns is-variable has-margin-top-20">
		<div class="column">
			<p class="is-size-5">About Us</p><br>
			<p class="is-size-7 has-text-grey">
				South Asian Research Publication (SAR Publication) is a publisher for scientific online and print journals started with collaboration with other scientific organizations, institutions, academicians and researchers. SAR Publication is keen to make itself as a leading publisher for scientific and academic journals with quality peer review and rapid publication...<a href="#" class="has-text-white"> Read More Here</a>
			</p>
		</div>
		<div class="column">
			<p class="is-size-5">Apply Memberships</p><br>
			<p class="is-size-7 has-text-grey">
				<a href='http://www.sassociety.com/fellow-member-fsass/' class='has-text-light'>Fellow Membership</a><br>
				<a href='http://www.sassociety.com/fellow-member-fsass/' class='has-text-light'>Life Membership</a><br>
				<a href='http://www.sassociety.com/regular-members/' class='has-text-light'>Regular Membership</a><br>
				<a href='http://www.sassociety.com/join-sas-society/' class='has-text-light'>Join Membership</a><br>
			</p>
		</div>
		<div class="column">
			<p class="is-size-5">Join Us</p><br>
			<p class="is-size-7 has-text-grey">
				<a href='http://www.sassociety.com/join-chief-editor/' class='has-text-light'>Join As Chief Editor</a><br>
				<a href='http://www.sassociety.com/join-editor/' class='has-text-light'>Join As Associate Editor</a><br>
				<a href='http://www.sassociety.com/join-reviewer/' class='has-text-light'>Join As Reviewer</a><br>
			</p>
		</div>
		<div class="column">
			<p class="is-size-5">Download Certificates</p><br>
			<p class="is-size-7 has-text-grey">
				<a href='http://www.sassociety.com/download-editorial-certificate/' class='has-text-light'>Editorial Certificate</a><br>
				<a href='http://www.sassociety.com/download-editorial-certificate/' class='has-text-light'>Reviewer Certificate</a><br>
				<a href='http://www.sassociety.com/publication-certificate/' class='has-text-light'>Publication Certificate</a><br>
			</p>
		</div>
	</div>
	<div class="container has-text-centered">
		<p> &copy; 2019 SAR Publication, All Rights Reserved</p>
		<p class="has-text-grey is-size-6"><a href="https://github.com/jayantamadhav" class="has-text-light" target="_blank">Developed by JM</a></p>
	</div>
</section>