{% load static %}
{% load template_next %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAR Publication - Home</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>
	<!--Slick slider-->

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<script src="{% static 'js/bulma-carousel.min.js' %}"></script>
	<script src="https://kit.fontawesome.com/3d4a04bbba.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class='has-padding-bottom-50'>

		{% include 'index/header.html' 	%}

		<div class="has-padding-50"  style='background-color: #353b48;'> 
			<!--Our Journals-->
			<div class="container is-clearfix has-padding-20 has-margin-top-20 has-padding-bottom-50" style='overflow: hidden; max-width: 80%'>
				{% if journals %}
				<div class='journal-carousel' >
					{% for journal in journals %}

					<div>

						<a href="#">
							<figure class="image is-64x128 has-margin-right-10">
								<img src = "{{ journal.journal_thumb.url }}" style="min-width:260px;max-width:260px; max-height:370px;min-height: 370px">
							</figure>

						</a>
					</div>
					{% endfor %}
				</div>
				{% else %}
				<p class="has-text-danger"></p>
				{% endif %}
			</div>
			<div class='has-margin-top-50 has-text-centered'>
				<p class='is-inline has-text-centered'>
					<a href="{% url 'journals' %}" class='has-text-dark'>
						<button class='light-button'>
							Browse Journals
						</button>
					</a>
					<a href="{% url 'submitManuscript' %}">
						<button class='dark-button'>
							Manuscript Submission
						</button>
					</a>
				</p>
			</div>
		</div>

		<!--members in-->
		<section class="section is-block has-background-dark has-text-white">
			<p class="is-size-4 has-text-light"><span style="color:#0f5a00;font-weight: 900"> | </span> Members in</p><br><br>
			<div class='members-in'>
				{% if memberin%}
				{% for company in memberin %}
				<div>
					<img src="{{ company.company_logo.url }}" alt='{{company.company_name}}' style='width:100px;max-height:50px;'>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</section>

		<section class="container is-size-6-mobile has-margin-top-20" >
			<div class="columns is-clearfix">
				<!--Left column-->
				<div class="column is-9">
					<!--Recent articles-->
					<div class="has-padding-20" style="background-color:#006266;">
						<p class="is-size-3 is-size-4-mobile has-text-light">Featured Articles</p>
						<!--articles-->
						{% if featured_articles%}
						{% for article in featured_articles%}
						<div class="box">
							<article class="media">
								<div class="media-content">
									<div class="level">
										<div class="level-left">
											<p><button class="button is-danger">{{article.article_type}}</button></p>
										</div>
										<div class="level-right">
											<p>{{ article.publish_date }}</p>
										</div>
									</div>
									<div class="content">
										<a href="{{article.article.url}}" class="is-primary">{{ article.article_name}}</a>
										<p>
											<i class="fa fa-user"></i>{{ article.author }}
										</p>
										DOI : <span class='has-text-danger'>{{article.doi}}</span>
										<br>
										<div class='is-inline-block has-margin-top-20' >
											<a href='{{article.article.url}}'><button class='article-button'><i class='fa fa-file-pdf'></i> &nbsp; PDF</button></a>
											<a href='{{article.article.url}}' download><button class='article-button'><i class='fa fa-download'></i> &nbsp; Download</button></a>
										</div>
									</div>

								</div>
							</article>
						</div>
						{% endfor %}
						{% else %}
						<p class="has-text-danger">No Articles Added yet</p>
						{% endif%}
					</div>
				</div>
				<div class='column'>
					{% include 'index/right-bar.html'%}
				</div>
			</div>
		</section>
		
	</div>
	{% include 'index/footer.html' %}
</body>
</html>