{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAR Publication - Journals</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<style type="text/css">
		.grid-container {
			display: grid;
			grid-template-columns: auto auto;
			grid-gap: 10px;
		}
		.grid-container > div {
			border-radius: 5px;
		}
		@media only screen and (max-width: 600px) {
			.grid-container {
				display: grid;
				grid-template-columns: auto;
				grip-gap:10px;
			}
		}
	</style>
</head>

<body>
	<div class="has-padding-bottom-100" >
		{% include 'index/header.html' %}
		<div style='background-color: #353b48;padding-top: 50px'>
			<div class='container'>
				<p class='has-text-light is-size-2' style='border-bottom:5px solid #e67e22'>Journals</p>
			</div>
		</div>
		<!--Main Content-->
		<div class='container has-margin-top-50'>
			<div class='columns'>
				<div class='column is-9'>
					<section class="has-padding-20">
						<div class="grid-container">
							{% if journals %}
							{% for journal in journals %}
							<div class="box">
								<article class="media">
									<div class="media-left">
										<figure class="image is-64x128">
											<img src = "{{ journal.journal_thumb.url }}"  style="max-width:128px; height:200px;">
										</figure>
									</div>
									<div class="media-content">
										<div class="content">
											<p>
												<a href="{% url 'journal_details' url=journal.journal_url %}">{{ journal.journal_name }}</a><br>
												<span> <strong>ISSN(Print)</strong> : <span class="has-text-danger">{{ journal.issn_print }} </span></span><br>
												<span> <strong>ISSN(Online)</strong> : <span class="has-text-danger"> {{ journal.issn_online }} </span></span><br>
												<span> <strong>Publisher</strong> : {{ journal.publisher }} </span><br>
												<span> <strong>Country Origin</strong> : {{ journal.origin_country }} </span><br>
												<span class="is-pulled-right has-margin-top-30" >
													<a href="{% url 'journal_details' url=journal.journal_url %}" class="button is-outlined is-primary">View More</a>
												</span>
											</p>
										</div>
									</div>
								</article>	
							</div>
							{% endfor %}
							{% else %}
							<p class="is-size-5 has-text-danger">No Journals yet, But keep tuned in..</p>
							{% endif %}
						</div>
					</section>
				</div>

				<div class='column'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</div>
	</div>
	<!--FOOTER-->
	{% include 'index/footer.html' %}

</body>
</html>