{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>GAJRC |{{volume_name}}-{{issue_name}}</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<style>
	.banner{
		background-image:url( {{journal.journal_cover.url}} );
		background-size:cover;
		background-position:fixed;
		border-radius:7px;
		height: 30em;
		box-shadow: 2px 2px 10px #333;
	}
	.banner-name{
		background-color: rgba(0,0,0,0.5);
	}
</style>
</head>

<body>
	<div class="index-background-container" >
		<!--Header-->
		<div class="header">
			<section class="is-fullhd">
				<nav class="navbar has-padding-left-20 has-padding-right-20" role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<a class="navbar-item" href="{% url 'index' %}">
							<figure class="image" style="height:75;width:100px">
								<img src="{% static 'media/mainLogo.png' %}">
							</figure>
						</a>

						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>

					<div id="navbarBasicExample" class="navbar-menu">
						<div class="navbar-start">

						</div>

						<div class="navbar-end">
							<a class="navbar-item" href="{% url 'index' %}">
								<i class="fa fa-home fa-lg"></i>
							</a>

							<a class="navbar-item" href="{% url 'about_us' %}">
								About Us
							</a>
							<a class="navbar-item" href="{% url 'contact_us' %}">
								Contact Us
							</a>
							<a class="navbar-item" href="{% url 'journals' %}">
								Journals
							</a>
							<div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link">
									For Authors
								</a>

								<div class="navbar-dropdown">
									<a class="navbar-item" href="{% url 'author_guidelines' %}">
										Guidelines
									</a>
									<a class="navbar-item" href="{% url 'processing_fees' %}">
										Processing Fee
									</a>
								</div>
							</div>
							<div class="navbar-item">
								<div class="buttons">
									<a class="button is-primary" href="{% url 'submitManuscript' %}">
										<strong>Submit Manuscript</strong>
									</a>
								</div>
							</div>	
						</div>
					</div>
				</nav>
			</section>
		</div>

		<!--Journal Banner-->
		<section class="hero has-margin-top-10">
			<div class="hero-body">
				<div class="banner has-padding-top-120 has-padding-bottom-120 has-text-centered">
					<div class="title is-size-1 is-size-3-mobile  has-text-primary has-text-centered">
						<div class="container">
							<p class="banner-name has-text-white has-padding-20">{{ journal.journal_name }}</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--Main Content-->
		<section class="has-padding-20">
			<div class="columns is-variable">
				<!--Main Block-->
				<div class="column is-9">
					<!--Recent articles-->
					<div class="has-padding-20 has-margin-top-20 is-block has-background-white"   style="box-shadow: 2px 2px 10px #333;border-radius: 5px">
						<p class="is-size-3 is-size-4-mobile has-text-grey">{{volume_name}}-{{issue_name}}</p>
						<!--articles-->
						<div class="container" >
							{% if articles%}
							{% for article in articles %}
							<div class="box">
								<article class="media">
									<div class="media-content">
										<div class="level">
											<div class="level-left">
												<p><button class="button is-danger">{{article.article_type}}</button></p>
											</div>
											<div class="level-right">
												<p>{{ article.publish_date }}</p>
											</div>
										</div>
										<div class="content">
											<a href="{{article.article.url}}" class="is-primary">{{ article.article_name}}</a>
											<p>
												<i class="fa fa-user"></i>{{ article.author }}
											</p>
											<button class="button is-outlined is-primary is-pulled-right"><a href="{{article.article.url}}" class="is-primary">Download</a></button>
										</div>

									</div>
								</article>
							</div>
							{% endfor %}
							{% else %}
							<p class="has-text-danger">No Articles Added yet</p>
							{% endif%}
						</div>
					</div>
				</div>

				<!--Right Bar-->
				<div class="column has-margin-top-10">
					<!-- Top Editor -->
					<div class="container has-padding-10 has-margin-top-20">
						<div class="card has-padding-10" style="box-shadow: 2px 2px 10px #333;border-radius: 5px">
							<div class="card-header">
								<p class="is-size-5"> Top Editors</p>
							</div>
							<div class="slider" style="overflow:hidden !important;">
								{% if top_editors%}
								{% for editor in top_editors%}
								<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>{{editor.editor_name}}</strong>
													<br>
													{{editor.designation}}<br>
													{{editor.editor_info}}
												</p>
											</div>
										</div>
									</article>
								</div>
								{% endfor %}
								{% else %}
								<p class="has-text-danger">No editors Added Yet..</p>
								{% endif %}
							</div>
						</div>
					</div>

					<!--Awards -->
					<div class="container has-padding-10 has-margin-top-20 is-block has-background-white"   style="box-shadow: 2px 2px 10px #333;border-radius: 10px">
						<figure class="image" >
							<a href="#"><img src="{% static 'media/awards.jpg' %}"></a>
						</figure>
					</div>

					<!-- Pay button -->
					<div class="container has-margin-top-20">
						<button class="button is-large is-fullwidth is-primary"  style="box-shadow: 2px 2px 4px #333;border-radius: 5px">Pay Now</button>
					</div>

					<!--Browsing subjects-->
					<div class="container has-padding-20 has-margin-top-20 is-block has-background-dark has-text-white has-text-centered"   style="box-shadow: 2px 2px 10px #333;border-radius: 10px">
						<p class="is-size-5 is-mobile-6" style="color:#ec6400;">Browse by Subjects</p><br><br>
						<p>Medical Sciences</p>
						<p>Biosciences</p>
						<p>Biomedical Engineering</p>
						<p>Oral Health Care</p>
						<p>Dentistry</p>
						<p>Sports Medicine</p>
						<p>Orthopedics</p>
						<p>Hepatology</p>
						<p>Gastroenterology</p>
						<p>Inorganic Chemistry</p>
						<p>Organic Chemistry</p>
						<p>Research and Reviews</p>
						<p>Agriculture</p>
						<p>Cancer</p>
						<p>Oncology</p>
						<p>Cardiovascular Research</p>
						<p>Womens Healthcare</p>
						<p>Gynecology</p>
						<p>Health care</p>
						<p>Nursing</p>
						<p>Neonatology</p>
						<p>Pediatrics</p>
						<p>Material Science</p>
						<p>Civil Engineering </p>
					</div>
				</div>
			</div>
		</section>

		<!--FOOTER-->
		<section class="section is-size-6-mobile has-background-dark has-text-light has-margin-top-100">

			<div class="has-text-centered"><p class="is-size-5">Article formats</p></div>
			<div class="columns is-variable has-margin-top-10">
				<div class="column is-6">
					<div class="box has-background-dark">
						<article class="media">
							<div class="media-left">
								<i class="fa fa-file-pdf-o fa-5x"></i>
							</div>
							<div class="media-content">
								<div class="content">
									<p>
										PDF (Portable Document Format) is a file format that has captured all the elements of a printed document as an electronic image that you can view, navigate <a href="https://www.google.com/search?q=pdf" class="has-text-white" target="_blank">read more...</a>
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="column is-6">
					<div class="box has-background-dark">
						<article class="media">
							<div class="media-left">
								<i class="fa fa-file-text fa-5x"></i>
							</div>
							<div class="media-content">
								<div class="content">
									<p>
										A full-text database is a compilation of documents or other information in the form of a database in which the complete text of each referenced document is <a href="https://www.google.com/search?q=text+file" class="has-text-white" target="_blank">read more...</a>
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="is-divider"></div>
			<div class="columns is-variable has-margin-top-20">
				<div class="column">
					<p class="is-size-5">Contact us</p><br>
					<p class="is-size-7 has-text-grey">
						Scholars Middle East Publishers,<br>
						Gold Souk, Deira, d – 24 D85,<br>
						Dubai, United Arab Emirates<br><br>

						+971-54-717-2569<br>
						gajrcofficial@gmail.com<br>
					</p>
				</div>
				<div class="column">
					<p class="is-size-5">About Us</p><br>
					<p class="is-size-7 has-text-grey">
						GAJRC (Global Acedemic Journals and Research Consortium) is an international scholar’s community
						which publish research paper under Scholars Middle East Publisher for open access scientific
						journals in both print and online publishing from Dubai, UAE.<a href="#" class="has-text-white"> Read More Here</a>
					</p>
				</div>
				<div class="column">
					<a id="comment-button"><p class="is-size-5 has-text-white">Leave a Feedback <i class="fa fa-chevron-down fa-xs"> </i></p></a>
					<div id="comment-container" style="display: none">
						<div class="field">
							<div class="control ">
								<input class="input is-small has-margin-5" type="text" placeholder="Enter Name">
								<input class="input is-small has-margin-5" type="email" placeholder="Enter Email">
								<textarea class="textarea is-small has-margin-5" type="textarea" placeholder="Comment Here.."></textarea>					
								<button id="leave-comment" class="button is-outlined is-primary has-margin-5" >Submit</button>
							</div>
						</div>
					</div>
					<div class="thankyou-container"></div>
				</div>
			</div>
			<div class="container has-text-centered">
				<p> &copy; CompanyName 2019, All Rights Reserved</p>
				<p class="has-text-grey is-size-6"><a href="https://github.com/jayantamadhav" class="has-text-light" target="_blank">Developed by JM</a></p>
			</div>
		</section>
	</div>
	<script type="text/javascript">
		function openTab(evt, tabName) {
			var i, x, tablinks;
			x = document.getElementsByClassName("content-tab");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tab");
			for (i = 0; i < x.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" is-active", "");
			}
			document.getElementById(tabName).style.display = "block";
			evt.currentTarget.className += " is-active";
		}
	</script>
</body>
</html>